* {
    outline-style: none;
}

window {
    background-color: transparent;
    font-family: JetBrainsMonoNF;
    font-weight: 600;
}

#outer-box {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #a9b665;
    background-color: #282828;
}

#input {
    padding: 5px;
    border-radius: 4px;
    border: 0px solid #a9b665;
    background-color: #32302f;
    color: #d4be98;
}

#scroll {
    padding: 5px 0px;
}

#inner-box {
    background-color: transparent;
}

#img {
    padding: 5px;
    border-radius: 4px;
    background-color: transparent;
    /*background-color: #32302f;*/
}

#text {
    margin-left: 5px;
    color: #d4be98;
}

#unselected {
    background-color: transparent;
}

#entry {
    padding: 5px;
    /*border-bottom: 1px solid #d4be98;*/
}

#entry:selected {
    border: none;
    box-shadow: 0px 0px 0px 1px #32302f inset;
    background-color: #32302f;
    border-radius: 4px;
    margin-left: 0px;
}

#text:selected {
    border: 0px;
}

#input:focus {
    box-shadow: 0px 0px 0px 1px #32302f inset;
}

#entry arrow {
    min-width: 50px;
    margin-left: 0px;
}

#expander-box {
    margin-left: 0px;
    background-color: transparent;
}
